<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>Register</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form action="create-question.php" method="post">
                <div class="form-group">
                    <label for="quesDesc">Question description:</label>
                    <input type="textArea" class="form-control" id="quesDesc">
                </div>
                <div class="form-group">
                    <label for="answerA">Answer choice 1:</label>
                    <input type="text" class="form-control" id="answerA">
                </div>
                <div class="form-group">
                    <label for="answerB">Answer choice 2:</label>
                    <input type="text" class="form-control" id="answerB">
                </div>
                <div class="form-group">
                    <label for="answerC">Answer choice 3:</label>
                    <input type="text" class="form-control" id="answerC">
                </div>
                <div class="form-group">
                    <label for="answerD">Answer choice 4:</label>
                    <input type="text" class="form-control" id="answerD">
                </div>
                <div>
                    <input type="submit" class="btn btn-primary" name="submit_question" value="Submit question">
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
</body>
</html>
